TOKEN=ВАШ_ТОКЕН_MAX
PHONE=ВАШ_ТЕЛЕФОН
DEVICE_ID=АЙДИ_УСТРОЙСТВА
SESSION_NAME=max_session

GROUP_CHAT_ID=АЙДИ_ЧАТА_MAX_ДЛЯ_РЕТРАНСЛЯЦИИ
GROUP_NAME=НАЗВАНИЕ_ЧАТА__НЕОБЯЗАТЕЛЬНО_

HISTORY_CHAT_ID=ЖЕЛАТЕЛЬНО_ТОТ_ЖЕ_ID_НО_МОЖНО_И_ДРУГОЙ
HISTORY_LIMIT=20

# Telegram бот
TELEGRAM_BOT_TOKEN=""
TELEGRAM_USER_CHAT_ID=ВАШ_АЙДИ
TELEGRAM_GROUP_CHAT_ID=АЙДИ_ГРУППЫ_КУДА_БУДЕТ_РЕТРАНСЛИРОВАТЬСЯ

# Прокси для Telegram
TELEGRAM_PROXY_URL=socks5://172.19.0.1:20170 # ЗАМЕНИТЕ

# Время проверки истории чата
HISTORY_SCHEDULE_TIMES="11:0,12:0,13:0,14:0,15:0,16:0,17:0,18:0,19:0,20:0"

# Включить пересылку Telegram -> Max
TELEGRAM_TO_MAX_ENABLED=true

# ID чата в Max, куда отправлять
MAX_TARGET_CHAT_ID=

# ID чата Telegram, откуда читать (может быть список через запятую)
TELEGRAM_SOURCE_CHAT_ID=

# Если надо менять имена при пересылке
TELEGRAM_NAMES_MAP_FILE=telegram_names_map.json
